doctype html
html(lang="en")
  head
    title Website Design & Development, Pune | Portfolio
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='apple-touch-icon image_src', href='/apple-touch-icon.png')
    link(rel='search', type='application/opensearchdescription+xml', title='Ankit Patil', href='/opensearch.xml')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:domain', content='ankitpatil.com')
    meta(property='og:type', content='website')
    meta(property='og:image', itemprop='image primaryImageOfPage', content='/apple-touch-icon.png')
    meta(name='twitter:title', property='og:title', itemprop='title name', content='Ankit Patil: Web, Graphic & Print Design')
    meta(name='twitter:description', property='og:description', itemprop='description', content='Web, Graphic & Print Design Portfolio')
    meta(property='og:url', content='http://ankitpatil.com')
    link(rel='canonical', href='http://ankitpatil.com/')
    link(rel='alternate', type='application/atom+xml', title="Ankit Patil: Web, Graphic & Print Design", href='/')
    meta(name='twitter:app:country', content='India')
    meta(name='twitter:app:name:iphone', content='Ankit Patil: Web, Graphic & Print Design iOS')
    meta(name='twitter:app:id:iphone', content='871299723')
    meta(name='twitter:app:url:iphone', content='http://ankitpatil.com')
    meta(name='twitter:app:name:ipad', content='Ankit Patil: Web, Graphic & Print Design iOS')
    meta(name='twitter:app:id:ipad', content='871299723')
    meta(name='twitter:app:url:ipad', content='http://ankitpatil.com')
    meta(name='twitter:app:name:googleplay', content='Ankit Patil Android')
    meta(name='twitter:app:url:googleplay', content='http://ankitpatil.com')
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/assets/styles.min.css')
  body
    .container
      .row.main
        if(_page == '')
          .col-lg-3
          .col-lg-9.copy
            h1 I am <name>Ankit Patil</name>. I design and develop minimal <a href='static-dynamic-websites'>Static & Dynamic <b>#Websites</b></a>. I also work with brands, providing <a href='print-layout-communication'><b>#Print</b> & Layout Communication</a>, <a href='online-advertising-direct-mailers'><b>#Online</b> Adverising & Direct Mailers</a> and <a href='identity-design'><b>#Identity</b> Design</a>.
            h2 #Websites
            each _post in _posts
              .row
                .col-xs-3
                  a(href!= 'p/' + _post.post_name + '/' class = 'thumb')
                    figure
                      img(src!= _post.thumb)
                .col-xs-9
                  h3!= _post.post_title
                  p!= _post.post_excerpt
                  span!= _post.hashtags
              .col-lg-12.space
          .col-lg-12
        else if(_page == 'static-dynamic-websites')
          h2 SECOND PAGE
        else if(_page == 'post')
          .container.bar
            .row
              .col-xs-6
                a(href='#' class='back')
                  i.fa.fa-arrow-left
              .col-xs-6.text-right
                a(href='#' class='share')
                  i.fa.fa-share
          each _p in _post
            .post
              .col-lg-3
                figure
                  img(src!= _p.thumb)
              .col-lg-9
                .row
                  h2!= _p.post_title
                  h4!= _p.post_excerpt
                  != _p.post_content
    footer.footer
      .container
    .load
      img(src='/img/load.gif')
    script(src='https://connect.facebook.net/en_US/all.js')
    script(src='/assets/scripts.min.js')
